.container {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #b3d7b3;
	flex-direction: row-reverse;
	align-items: flex-end;
	overflow: hidden;
}

.visualizeContainer {
	margin: 0 5px 0 5px;
	width: 100%;
	min-width: 500px;
	height: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-evenly;
	background-color: inherit;
}

.arrayBar {
	width: 80px;
	margin: 0px 1px 2px 1px;
	transition: height 0.2s;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.arrayBar > span {
	background-color: inherit;
	margin-bottom: 5px;
	color: #fff;
	font-weight: 400;
}

.button {
	width: 12rem;
	height: 3rem;
	padding: 0.3rem 0rem;
	border: none;
	border-radius: 0.317rem;
	background-color: #218953;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
}

.button:hover {
	opacity: 0.85;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 20vw;
	min-width: 200px;
	height: 100%;
	min-height: 500px;
	padding: 0 1.5vw 0 1.5vw;
	background-color: #1e432a;
}

.slider-container {
	height: 3rem;
	width: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: inherit;
}

.slider-container > input {
	width: 100%;
}

label {
	color: #fff;
	background-color: inherit;
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.select-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	background-color: inherit;
	font-size: 16px;
}

header {
	background-color: inherit;
	color: #e7d9ea;
	font-size: larger;
	text-align: center;
	line-height: 2rem;
}

#select {
	height: 35px;
	padding: 5px 7px;
	line-height: 20px;
	font-size: 18px;
	width: 100%;
	border: 2px solid green;
	border-radius: 6px;
	margin-top: 10px;
}

.select-box select:focus {
	border: 2px solid green;
}


input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; 
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw rgb(6, 128, 44);
    border: 2px solid #999;
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}